<div class="container">

<p id="notice"><%= notice %></p>

<h1>Profiles</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Email</th>
      <th>Address</th>
      <th>Phone number</th>
      <th>Bio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>

        <td><div class="image-cropper"><p id="profile"><%= image_tag profile.image_url(:thumb)%></p></div></td>
        <td><%= profile.full_name %></td>
        <td><%= profile.user.email %></td>
        <td><%= profile.street_address %>, <%= profile.location.full_address %></td>
        <td><%= profile.phone_number %></td>
        <td><%= profile.bio %></td>
        <td><%= link_to 'Show', profile %></td>
        <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
        <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<button><%= link_to 'New Profile', new_profile_path %></button>
</div>
