<div class="container">

<p id="notice"><%= notice %></p>

  <div class="image-cropper">
    <p id="profile"><%= image_tag @profile.image_url(:thumb)%></p>
  </div><br>

<p>
  <strong>Name:</strong>
  <%= @profile.full_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @profile.user.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @profile.street_address %>, <%= @profile.location.full_address %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @profile.phone_number %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @profile.bio %>
</p>

<button><%= link_to 'Edit', edit_profile_path(@profile) %></button>
<button><%= link_to 'Back', profiles_path %></button>
<button><%= link_to 'Delete your Account?', @profile.user, method: :delete, data: {confirm: 'Are you sure?'} if @profile.user == current_user %></button>

</div>
