<div class="container">

<p id="notice"><%= notice %></p>

<h1>Stores</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Store Owner</th>
      <th>Store Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td><%= store.name %></td>
        <td><%= store.user.profile.full_name if store.user.profile.present? %></td>
        <td><%= store.location.full_address  if store.location.present? %></td>
        <td><%= link_to 'Show', store %></td>
        <% if store.user == current_user || user_signed_in? && current_user.has_role?(:admin)%>
        <td><%= link_to 'Edit', edit_store_path(store) %></td>
        <td><%= link_to 'Destroy', store, method: :delete, data: { confirm: 'Are you sure?' }%></td>
        <% else %>
        <td></td>
        <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_user.store.present? %>
<button><%= link_to 'Edit Your Store', edit_store_path(current_user.store) %></button>
<% else %>
<button><%= link_to 'Create New Store', new_store_path %></button>
<% end %>

</div>
