<div class="container">

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @store.name %>
</p>

<p>
  <% if @store.user.profile.present? %>
    <strong>Store Owner:</strong>
    <%= @store.user.profile.first_name%>&nbsp;<%= @store.user.profile.last_name %>
  <% end %>
</p>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>

</div>
