<div class="container">

<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Location</th>
      <th colspan="4">Email</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= image_tag user.profile.image_url(:thumb) if user.profile.present? %></td>
        <td><%= user.profile.full_name if user.profile.present? %></td>
        <td><%= user.profile.location.full_address if user.profile.present? %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) if user == current_user %></td>
        <td><%= link_to 'Delete your Account?', user, method: :delete, data: {confirm: 'Are you sure?'} if user == current_user %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button><%= link_to 'Back to Products', products_path %></button>

</div>
