<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Stock level:</strong>
  <%= @product.stock_level %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category.name %>
</p>

<p>
  <strong>Store:</strong>
  <%= @product.store.name %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>

<% if current_user && current_user == @store.user %>
<p>I am the owner</p>
<% else %>
<p>I am not the owner</p>
<% end %>
