<div class="container">

<div class="image-med">
  <%= image_tag @product.image_url(:medium)%>
</div>
<br>
<br>
<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price:</strong>
  $<%= @product.price %>
</p>

<% if current_user == @store.user %>
<p>
  <strong>Stock level:</strong>
  <%= @product.stock_level %>
</p>
<% end %>
<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category.name %>
</p>

<p>
  <strong>Store:</strong>
  <%= @product.store.name %>
</p>

<p>
  <strong>Store Location:</strong>
  <%= @product.store.location.full_address %>
</p>

<button><%= link_to 'Back', products_path %></button><% if current_user && current_user == @store.user %>
  <button><%= link_to 'Edit', edit_product_path(@product) %></button>
<% else %>
<br><br>
<%= form_tag charges_path do %>
    <article>
      <% if flash[:error].present? %>
        <div id="error_explanation">
          <p><%= flash[:error] %></p>
        </div>
      <% end %>
    </article>

    <%= hidden_field_tag :product_id, @product.id %>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="<%= @product.name %>"
            data-amount="<%= @product.price * 100 %>"
            data-locale="auto"></script>
  <% end %>
</div>

<% end %>
