<div class="container">

<p>
  <strong>City:</strong>
  <%= @location.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @location.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @location.country %>
</p>

<p>
  <strong>Post code:</strong>
  <%= @location.post_code %>
</p>

<button><%= link_to 'Edit', edit_location_path(@location) %></button>
<button><%= link_to 'Back', locations_path %></button>

</div>
